.bg-1{
    background-image: url('img/bg.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
}

.chat-screen {
    position: absolute;
    width: 400px;
    background-color: #fff;
    height: 80%;
    padding: 0 10px 10px 10px;
    max-height: 620px;
    left: 50%;
    top: 50%;
    overflow: auto;
    margin-top: 0;
    margin-left: 0;
    transition: .3s ease-out;
    border-radius: 5px;
    box-shadow: 0 20px 80px rgba(0,0,0,.6);
    animation: fadein 1s;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    transform: translate(-50%, -50%);
}

span.top-banner{
    background-color: #fcbb55;
    padding: 8px 15px;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.chat-container{
    position: relative;
    height: 80%;
    margin-top: 20px;
}

.action-bar{
    position: absolute;
    width: 100%;
    bottom: 64px;
    background-color: #e7e7e7;
}

.action-bar-wrapper{
    position: absolute;
    bottom: 20px;
    width: 400px;
    left: 50%;
    transform: translateX(-50%);
}

.input-button{
    position: relative;
}

.options-group{
    padding: 20px 0;
}

#message-body{
    margin-bottom: 60px;
}

a.option-selector.d-block{
    background-color: #fcbb55;
    color: #000;
    width: 75%;
    margin: 10px auto;
    font-size: 14px;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0 0px 10px 0 rgba(0,0,0,0.14);
}

a.option-selector.d-block:hover{
    text-decoration: none;
}

.button-wrapper{
    position: absolute;
    right: 8px;
    width: 10%;
    text-align: right;
    top: 50%;
    transform: translateY(-50%);
}

input.form-control.message-text-input {
    border-radius: 12px;
    padding: 22px;
    font-size: 14px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border: 0;
}

input.form-control.message-text-input:focus {
    box-shadow: none;
}

img.send-icon {
    width: 100%;
    cursor: pointer;
}

.message-body p{
    margin: 0;
    font-size: 14px;
}

.message-body.from-server{
    background-color: #cecece;
    border-radius: 15px;
    border-top-left-radius: 0;
    padding: 10px;
    margin: 5px 0;
}

.message-body.from-user {
    background-color: #fcbb55;
    border-radius: 15px;
    border-top-right-radius: 0;
    padding: 10px;
    text-align: right;
    margin-left: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    animation: animateElement linear .3s;
    animation-iteration-count: 1;
}

.message-body.from-server.typing-delay {
    background-color: transparent;
}

.message-body.from-server.chat-options {
    background-color: transparent;
}

.message-body.from-server.chat-options ul li{
    display: inline;
}

.message-body.from-server.image-out {
    padding: 0;
    border-top-right-radius: 45px;
}

.message-body.from-server.image-out .image-wrapper img{
    border-top-right-radius: 45px;
}

.message-body.from-server.image-out .image-info-wrapper{
    padding: 10px;
}

span.typing{
    width: 15px; 
    height: 15px;
    margin: 3px;
    background-color: #06225D;
    border-radius: 50%;
    display: inline-block;
  }
  
  span.typing:nth-child(1){
    animation: jump .5s infinite alternate;
  }
  
  span.typing:nth-child(2){
    animation: jump .5s .2s infinite alternate;
  }
  
  span.typing:nth-child(3){
    animation: jump .5s .4s infinite alternate;
  }
  
  @keyframes jump{
    0%{
      transform: translateY(-5px);
    }
    100%{
      transform: translateY(5px);
      opacity: .6;
    }
  }

  .message-body.from-server{
    background-color: #cecece;
    border-radius: 15px;
    text-align: left;
    border-top-left-radius: 0;
    padding: 10px;
    margin: 5px 0;
    animation: animateElement linear .3s;
    animation-iteration-count: 1;
}

.action-bar{
    display: none;
}

h3.image-title{
    font-size: 14px;
    margin: 5px 0;
}

.chat-screen{
    text-align: center;
}

.table td, .table th {
    vertical-align: top;
    border-top: none;
    padding: 7.5px 5px !important;
}

.table thead th{
    border-bottom: none;
}

.options-group.datepicker-option{
    background-color: #fcbb55;
}

.bootstrap-datetimepicker-widget table td.active.today:before {
    border-bottom-color: #000;
}

.bootstrap-datetimepicker-widget table td.today:before {
    border-bottom-color: #000;
    border-top-color: rgba(0, 0, 0, 0.2);
}

.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover {
    background-color: #fff;
    color: #fcbb55;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

@keyframes animateElement{
    0% {
      opacity:0;
      transform:  translate(0px,10px);
    }
    100% {
      opacity:1;
      transform:  translate(0px,0px);
    }
  }

@media(min-width:768px){
    .chat-screen::-webkit-scrollbar-track
{
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
	background-color: #F5F5F5;
	border-radius: 10px;
}

.chat-screen::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.chat-screen::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(39, 82, 212)));
}
}

@media(max-width:575.98px){
    .chat-screen {
        position: relative;
        width: 100%;
        background-color: #fff;
        height: 100vh;
        padding: 0 10px 10px 10px;
        max-height: calc(100vh - 44px);
        left: auto;
        top: auto;
        transform: none;
        overflow: auto;
        margin-top: 0;
        margin-left: 0;
        transition: .3s ease-out;
        border-radius: 5px;
        box-shadow: 0 20px 80px rgba(0,0,0,.6);
        animation: fadein 1s;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .action-bar-wrapper {
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        transform: none;
    }

    #message-body {
        margin-bottom: 25px;
    }

    .action-bar {
        position: relative;
        width: 100%;
        bottom: 0;
        background-color: #e7e7e7;
    }
}